<app-home></app-home>
<hr>
<h3 class="mt-5 mb-3"> Create a new Reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Check-In Date:</label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <small class="text-danger"
                *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                check in date is requried
            </small>
        </div>

        <div class="col">
            <label class="form-label"> Check Out Date:</label>
            <input class="form-control" type="date" formControlName="checkOutDate">
            <small class="text-danger"
                *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                check out date is requried
            </small>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
                <label> Guest Name:</label>
                <input type="text" formControlName="guestName">
                <small class="text-danger"
                    *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                    name is requried
                </small>
        </div>
        <div class="col">
                <label> Guest Email:</label>
                <input type="email" formControlName="guestEmail">
                <small class="text-danger"
                    *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                    Email is requried
                </small>
        </div>
        <div class="col-3">
                <label> Room Number:</label>
                <input type="number" formControlName="roomNumber">
                <small class="text-danger"
                    *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                    room number is requried
                </small>
            </div>

    </div>






    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid"> Submit </button>

</form>